/* src/index.css */
@import "tailwindcss/preflight";
@tailwind utilities;

input,
textarea {
  outline: none;
}

.challenge-count-container {
  padding: 15px;
  border: 1px solid hsl(0, 10%, 30%);
  position: relative; /* Ensure relative positioning */
}

.challenge-count-container::before {
  content: "";
  width: 5px;
  border-radius: 12px;
  background-color: #2b71f0;
  height: 50px;
  position: absolute;
  left: 0; /* Make sure it appears inside the container */
  top: 50%; /* Align it vertically */
  transform: translateY(-50%);
}
